

body {
    background-color: #ffffff !important;

    background-repeat:no-repeat;
    font-size: large;
    text-align: center;

}

p {
    color: rgb(255, 217, 0) !important;
}

header {
    color: #229954 !important;
}